html{
    background-color: #eeee;
}

body{
    font-family: 'Ubuntu', sans-serif;
}

a{
    text-decoration: none;
}

h1, h3, h5{
    font-weight: bold;
}

h1{
    color: #eeee;
}

#main-carousel h3{
    color: #9BE6AD;
    text-shadow: 0 0 2px #393e46;
}

/* Barra de Navegacion */
.navbar{
    padding: 1.2% 4% 1.2% 7%;
    background-color: #00adb5;
}

.navbar-nav .nav-link, .ham-icon, .rights{
    color: #393e46;
}

.navbar-nav .nav-link:hover, .ham-icon:hover, .navbar-brand:hover{
    color: #eeee;
    font-weight: bold;
}

.navbar-brand{
    font-weight: bold;
    font-size: 2rem;
    color: #393e46;
}

.nav-item{
    padding-left: 8px;
    font-size: 1.1rem;
}

/* Carrusel */
.carousel, .gallery, .doctors, .form{
    background-color: #2CC5A3;
    text-align: center;
}

.carousel-item{
    padding: 5% 7%;
}

.carousel-title{
    padding-bottom: 2%;
    line-height: 1.4;
}

.carousel-button{
    color: #eeee;
}

.carousel-img{
    width: 35%;
    height: auto;
    border-radius: 50%;
    margin: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Pie de Pagina */

footer{
    background-color: #eeee;
    text-align: center;
    padding: 3% 10%;
}

.social-icon{
    margin: 0 30px 30px;
    color: #393e46;
}

.social-icon:hover{
    color: #00adb5;
    font-weight: bold;
}

/* Galería de Mascotas Atendidas */

.gallery{
    padding: 2%;
}
.gallery-title{
    padding-top: 2%;
}
.gallery img{
    width: 50%;
    margin: auto;
    border-radius: 10%;
}

.gallery-col{
    margin-top: 1%;
    padding: 2% 1% 1%;
}

.gallery-col h3{
    color: #eeee;
}

/* Doctores */

.doctors{
    padding: 3% 7%;
}

.doc-col{
    padding: 2% 3%;
}

.card{
    margin: auto;
}

.card-body{
    background-color: #eeee;
}

.card-title{
    color: #393e46;
}

/* Formulario Contacto */

.form{
    background-color: #2CC5A3;
    padding: 3% 7%;
}

.form-control{
    background-color: #eeee;
}

.contact-title{
    padding: 1% 6%;
}

.form .row{
    margin-top: 2%;
    margin-bottom: 2%;
}

.form .btn-primary{
    background-color: #00adb5;
}

.form .btn-primary{
    background-color: #393e46;
    border-color:#eeee;
}