html{
    background-color: #eeee;
}

body{
    font-family: 'Ubuntu', sans-serif;
}

a{
    text-decoration: none;
}

h1, h2, h3, h5, h6, .card h4{
    font-weight: bold;
}

h1, .weather h3{
    color: #eeee;
}

#main-carousel h3{
    color:  #393e46;
}

/* Barra de Navegacion */
.navbar{
    padding: 1.2% 4% 1.2% 7%;
    background-color: #00adb5;
}

.navbar-nav .nav-link, .ham-icon, .rights{
    color: #393e46;
}

.navbar-nav .nav-link:hover, .ham-icon:hover, .navbar-brand:hover{
    color: #eeee;
    font-weight: bold;
}

.navbar-brand{
    font-weight: bold;
    font-size: 2rem;
    color: #393e46;
}

.nav-item{
    padding-left: 8px;
    font-size: 1.1rem;
}

/* Carrusel */
.carousel, .gallery, .doctors, .form, 
.prices, .consultas, .vacunas, .planes{
    background-color: #2CC5A3;
    text-align: center;
}

.carousel-item{
    padding: 5% 7%;
}

.carousel-title{
    padding-bottom: 2%;
    line-height: 1.4;
}

.carousel-button{
    color: #eeee;
}

.carousel-img{
    width: 35%;
    height: auto;
    border-radius: 50%;
    margin: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Pie de Pagina */

footer{
    background-color: #eeee;
    text-align: center;
    padding: 3% 10%;
}

.social-icon{
    margin: 0 30px 30px;
    color: #393e46;
}

.social-icon:hover{
    color: #00adb5;
    font-weight: bold;
}

.sun{
    color: rgb(226, 226, 2);
}

.cloud, .moon{
    color: rgb(143, 143, 143);
}

.location{
    color:rgb(165, 50, 50);
}

.weather-cont{
    width: 80%;
    height: 50%;
    border-radius: 25px;
    background-color: #00adb5;
    color:#393e46;
    padding-top: 3%;
    margin-bottom: 3%;
}

.weather{
    padding: 0 10% 3%;
    
}

#map{
    border-radius: 25px;
    min-height: 90px;
}

.w-col{
    padding: 3%;
}

/* Galería de Mascotas Atendidas */

.gallery{
    padding: 2%;
}
.gallery-title{
    padding-top: 2%;
}
.gallery img{
    width: 50%;
    margin: auto;
    border-radius: 10%;
}

.gallery-col{
    margin-top: 1%;
    padding: 2% 1% 1%;
}

.gallery-col h3{
    color: #393e46;
}

/* Doctores */

.doctors{
    padding: 3% 7%;
}

.doc-col{
    padding: 2% 3%;
}

.card{
    margin: auto;
}

.card-body{
    background-color: #eeee;
}

.card-title{
    color: #393e46;
}

/* Formulario Contacto */

.form{
    background-color: #2CC5A3;
    padding: 3% 7%;
}

.form-control{
    background-color: #eeee;
}

.contact-title{
    padding: 1% 6%;
}

.form .row{
    margin-top: 2%;
    margin-bottom: 2%;
}

.form .btn-primary{
    background-color: #00adb5;
}

.form .send{
    background-color: #393e46;
    border-color:#eeee;
}

.form .clean{
    background-color: #eeee;
    border-color:#393e46;
    color: #393e46;
}

.form .lista{
    margin:auto;
    background-color: #eeee;
}

.contact-buttons{
    width: 30%;
    margin:auto;
}

.form button{
    margin: 5%;
}

/* Peluqueria */

.prices{
    padding: 3% 7%;
}

.pelu-titles{
    text-align: left;
    padding: 2% 0 2% 4%;
    color: #393e46;
}

.divisor {
  height: 3rem;
  background-color: #2CC5A3;
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

/* Consultas */

.consultas{
    padding: 3% 7%;
    color: #393e46;
}

.img-consulta{
    width: 50%;
    border-radius: 10%;
}

.filas-consulta{
    padding-top: 4%;
}

.consulta{
    text-align: left;
    padding-left: 4%;
}

.desc-consulta{
    padding-left: 5%;
}

.desc-consulta p{
    font-size: 1.3rem;
}

/* Vacunacion */

.vacunas h1, .planes h1{
    padding-top: 3%;
}

.vacunas{
    color:#393e46;
}

.vac{
    padding-top: 2%;
}

.vac-img{
    width: 30%;
    border-radius: 30%;
    padding-top: 2%;
}

.row-vacunas, .row-planes{
    padding: 3% 4% 4%;
}

.col-vacunas, .col-planes{
    padding: 2% 3%;
}

/* Nosotros */

.img-nosotros{
    width: 60%;
    border-radius: 10%;
    padding-top: 3%;
    margin: auto;
}